@model VirtualWallet.Dto.ViewModels.CardViewModels.CreateCardViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Display Card Data</title>
</head>
<body>
    <h1>Card Details</h1>
    <p>Card Holder: @Model.CardHolder</p>
    <p>Card Number: @Model.CardNumber</p>
    <p>Expiration Month: @Model.ExpirationMonth</p>
    <p>Expiration Year: @Model.ExpirationYear</p>
    <p>Security Code: @Model.CheckNumber</p>
    <p>Currency: @Model.CurrencyCode</p>
</body>
</html>