@model List<VirtualWallet.Dto.ViewModels.CardViewModels.SelectCardViewModel>

@{
    var transferViewModel = ViewData["TransferViewModel"] as VirtualWallet.Dto.ViewModels.TransferViewModels.TransferViewModel;
}

@*<select class="form-select mt-1 block w-full" asp-for="@transferViewModel.CardId" asp-items="@Model.Select(card => new SelectListItem { Value = card.Id, Text = $"Card ending in {card.CardNumber.ToString().Substring(card.CardNumber.ToString().Length - 4)}", Selected = transferViewModel != null && transferViewModel.CardId == card.Id })">
    <option value="" disabled>Select a card</option>
</select>*@

<select class="form-select mt-1 block w-full" id="cardSelect" asp-for="@transferViewModel.CardId">
    <option value="" disabled selected>Select a card</option>
    @foreach (var card in Model)
    {
        <option value="@card.Id">Card ending in @card.CardNumber.ToString().Substring(@card.CardNumber.ToString().Length - 4)</option>
    }
</select>

@*<select class="form-select mt-1 block w-full" id="cardSelect">
    <option value="" disabled selected>Select a card</option>
    @foreach (var card in Model)
    {
        <option value="@card.Id">Card ending in @card.CardNumber.ToString().Substring(@card.CardNumber.ToString().Length - 4)</option>
    }
</select>*@