@model VirtualWallet.Dto.ViewModels.TransferViewModels.TransferViewModel

<h2>Transfer Information</h2>

<ul>
    <li><strong>HasCardSender:</strong> @Model.HasCardSender</li>
    <li><strong>Amount:</strong> @Model.Amount</li>
    <li><strong>CardId:</strong> @Model.CardId</li>
    <li><strong>CurrencyId:</strong> @Model.CurrencyId</li>
    <li><strong>WalletId:</strong> @Model.WalletId</li>
</ul>