@model VirtualWallet.Dto.ViewModels.TransferViewModels.TransferViewModel

<!-- Direction Selection -->
<div class="w-full mb-4 flex-col justify-start items-start flex">
    <label class="text-gray-700 text-xs font-medium dark:text-neutral-400">HasCardSender: @Model.HasCardSender</label>
</div>

<!-- Card Selection -->
<div class="w-full mb-4 flex-col justify-start items-start flex">
    <label class="text-gray-700 text-xs font-medium dark:text-neutral-400">CardId: @Model.CardId</label>
</div>

<div class="w-full mb-4 flex-col justify-start items-start flex">
    <label class="text-gray-700 text-xs font-medium dark:text-neutral-400">Amount: @Model.Amount</label>
</div>

<!-- Currency Selection -->
<div class="w-full mb-4 flex-col justify-start items-start flex">
    <label class="text-gray-700 text-xs font-medium dark:text-neutral-400">CurrencyId: @Model.CurrencyId</label>
</div>

<!-- Wallet ID (Hidden Input) -->
<div class="w-full mb-4 flex-col justify-start items-start flex">
    <label class="text-gray-700 text-xs font-medium dark:text-neutral-400">WalletId: @Model.WalletId</label>
</div>