@model VirtualWallet.Dto.CreateExcahngeDto.CreateExcahngeDto

<div class="h-full flex flex-col items-center justify-center px-4">
    <form class="flex mx-auto justify-center max-w-sm w-full px-8 py-8 bg-neutral-100 rounded-3xl shadow-2xl border-purple-400 border flex-col justify-center items-center inline-flex
				dark:bg-neutral-800 dark:border-puerple-400" asp-controller="Exchange" asp-action="ConfirmExchange" method="post">

        <div class="mb-4 text-center text-neutral-900 text-3xl font-extrabold dark:text-neutral-50">Exchange details</div>

        <!-- From Currency -->
        <div class="w-full mb-4 flex-col justify-start items-start flex">
            <label class="text-neutral-700 text-sm font-medium dark:text-neutral-400">From currency</label>
            <select asp-for="From" class="border px-2 border-purple-400 cursor-pointer rounded-full drop-shadow-md w-full duration-300 bg-neutral-50 dark:bg-neutral-800 dark:text-neutral-50">
                <option value="" disabled selected>Select a currency</option>
                @foreach (var currency in ViewData["Currencies"] as List<VirtualWallet.Dto.ViewModels.CurrencyViewModels.CurrencyViewModel>)
                {
                    <option value="@currency.Code.ToString().ToUpper()">@currency.Code.ToString().ToUpper()</option>
                }

            </select>
        </div>

        <!-- To Currency -->
        <div class="w-full mb-4 flex-col justify-start items-start flex">
            <label class="text-neutral-700 text-sm font-medium dark:text-neutral-400">To currency</label>
            <select asp-for="To" class="border px-2 border-purple-400 cursor-pointer rounded-full drop-shadow-md w-full duration-300 bg-neutral-50 dark:bg-neutral-800 dark:text-neutral-50">
                <option value="" disabled selected>Select a currency</option>
                @foreach (var currency in ViewData["Currencies"] as List<VirtualWallet.Dto.ViewModels.CurrencyViewModels.CurrencyViewModel>)
                {
                    <option value="@currency.Code.ToString().ToUpper()">@currency.Code.ToString().ToUpper()</option>
                }

            </select>
        </div>
        <!-- Amount -->
        <div class="w-full mb-4 flex-col justify-start items-start flex">
            <label class="text-neutral-700 text-sm font-medium dark:text-neutral-400">Amount to exchange</label>
            <input asp-for="Amount" type="text" class="w-full px-3 py-2 bg-neutral-200 rounded-md outline-1 justify-start items-center inline-flex
						dark:bg-neutral-700 dark:text-neutral-50
						focus:outline focus:outline-purple-400" name="amount" x-model="amount">
        </div>



        <!-- Wallet ID (Hidden Input) -->
        <div class="w-full mb-4 flex-col justify-start items-start flex">
            <input type="hidden"  />
        </div>
        @if (this.ViewData["ErrorMessage"] is not null)
        {
            <span class="text-center text-red-600 text-base mb-4">
                @this.ViewData["ErrorMessage"]
            </span>
        }
        <button class="w-full px-4 py-4 bg-purple-500 rounded-md shadow justify-center items-center inline-flex focus:outline-none  hover:bg-purple-400 transition duration-300" type="submit">
            <div class="text-neutral-50 text-sm font-medium">
                <div class="text-sm">
                    <span>Exchange Funds</span>
                </div>
            </div>
        </button>
    </form>
</div>